/* ChatMessageContent.tsx */

.chat-message-content-highlight-depression, .chat-message-content-highlight-anxiety, .chat-message-content-highlight-risk {
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
}

.chat-message-content-highlight-depression{
    background-color: green
}

.chat-message-content-highlight-risk{
    background-color: red;
}

.chat-message-content-highlight-anxiety{
    background-color: blue;
}