/* PositiveButton.tsx */

.positive-button-button {
    position: relative;
    top: 1px;
    font-size: 1.2em;
    height: 2.2em;
    width: 4em;
    margin-left: 1em;
    border: 2px solid lightgrey;
    border-radius: 0.5em;
}